.ContainerHome {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #0f4f34;
}

.bgHome {
  display: flex;
  width: 80%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.bgHome img {
  width: 400px;
  /* box-shadow: black; */
}
